/*GENERAL BUTTON STYLES*/
.css3-button{
    display:block;
    float:left;
    padding:5px 15px;
    text-align:center;
    color:#fff;
    font-size:12px;
    margin-right: 10px;
    text-decoration:none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #999;
    -webkit-transition: background 100ms ease-in;
    -moz-transition: background 100ms ease-in;
    -ms-transition: background 100ms ease-in;
    -o-transition: background 100ms ease-in;
    transition: background 100ms ease-in;
}
.css3-button:active,
.css3-button.active{
}



/*FLAT BUTTONS COLORS AND STYLES*/
.css3-button_pink{
    background:#e45f5f;
    border-color:#e45f5f;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px #bb2b2b;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px #bb2b2b;
}
.css3-button_pink:hover,
.css3-button_pink.hover{/*.hover class is just for demo, you can delete it.*/
    background:#db4a4a;
    border-color:#db4a4a;
}
.css3-button_pink:active,
.css3-button_pink.active{/*.active class is just for demo, you can delete it.*/
    background:#db4a4a;
    border-color:#db4a4a;
    -webkit-box-shadow: inset 0px 2px 0px 0px #bb2b2b, 0px 2px 0px 0px #db4a4a;
    box-shadow: inset 0px 2px 0px 0px #bb2b2b, 0px 2px 0px 0px #db4a4a;
}

.css3-button_green{
    background:#64b894;
    border-color:#64b894;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px #26835a;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px #26835a;
}
.css3-button_green:hover,
.css3-button_green.hover{/*.hover class is just for demo, you can delete it.*/
    background:#4eab82;
    border-color:#4eab82;
}
.css3-button_green:active,
.css3-button_green.active{/*.active class is just for demo, you can delete it.*/
    background:#4eab82;
    border-color:#4eab82;
    -webkit-box-shadow: inset 0px 2px 0px 0px #26835a, 0px 2px 0px 0px #4eab82;
    box-shadow: inset 0px 2px 0px 0px #26835a, 0px 2px 0px 0px #4eab82;
}

.css3-button_blue{
    background:#4ba2c6;
    border-color:#4ba2c6;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px #1e7397;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px #1e7397;
}
.css3-button_blue:hover,
.css3-button_blue.hover{/*.hover class is just for demo, you can delete it.*/
    background:#3a95ba;
    border-color:#3a95ba;
}
.css3-button_blue:active,
.css3-button_blue.active{
    background:#3a95ba;/*.active class is just for demo, you can delete it.*/
    border-color:#3a95ba;
    -webkit-box-shadow:  inset 0px 2px 0px 0px #1e7397, 0px 2px 0px 0px #3a95ba;
    box-shadow: inset 0px 2px 0px 0px #1e7397, 0px 2px 0px 0px #3a95ba;
}

.css3-button_disabled,
.css3-button_disabled:hover,
.css3-button_disabled:active{
    padding:10px 10px;
    background:#dedede;
    border-color:#dedede;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px rgba(203, 203, 203, 1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 2px 0px 0px rgba(203, 203, 203, 1);
}


/*GLOSSY BUTTONS COLORS AND STYLES*/
.css3-button_pink-g{
    background: #e45f5f; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.3), rgba(255, 255, 255, 0.0) 40%), -webkit-linear-gradient(top,  #e45f5f 0%,#d13b3b 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 40%), linear-gradient(to bottom,  #e45f5f 0%,#d13b3b 100%); /* W3C */
    border-color:#e45f5f;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 0px 2px 3px rgba(147, 147, 147, .25);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 0px 2px 3px rgba(147, 147, 147, .25);
}
.css3-button_pink-g:hover,
.css3-button_pink-g.hover{/*.hover class is just for demo, you can delete it.*/
    background: #e45f5f; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.2), rgba(255, 255, 255, 0.0) 30%), -webkit-linear-gradient(top,  #e45f5f 0%,#b81e1e 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 30%), linear-gradient(to bottom,  #e45f5f 0%,#b81e1e 100%); /* W3C */
    border-color:#db4a4a;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4), 0px 0px 2px 3px rgba(147, 147, 147, .4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4), 0px 0px 2px 3px rgba(147, 147, 147, .4);
}
.css3-button_pink-g:active,
.css3-button_pink-g.active{/*.active class is just for demo, you can delete it.*/
    background: #e45f5f; /* Old browsers */
    background: -webkit-linear-gradient(top,  #cf3d3d 0%,#e45f5f 100%);  /*Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #c12828 0%,#e45f5f 100%); /* W3C */
    border-color:#db4a4a;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.css3-button_green-g{
    background: #64b894; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.3), rgba(255, 255, 255, 0.0) 40%), -webkit-linear-gradient(top,  #64b894 0%,#46a47b 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 40%), linear-gradient(to bottom,  #64b894 0%,#46a47b 100%); /* W3C */
    border-color:#64b894;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 0px 2px 3px rgba(147, 147, 147, .25);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 0px 2px 3px rgba(147, 147, 147, .25);
}
.css3-button_green-g:hover,
.css3-button_green-g.hover{/*.hover class is just for demo, you can delete it.*/
    background: #4eab82; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.2), rgba(255, 255, 255, 0.0) 30%), -webkit-linear-gradient(top,  #64b894 0%,#2f8e64 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 30%), linear-gradient(to bottom,  #64b894 0%,#2f8e64 100%); /* W3C */
    border-color:#4eab82;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4), 0px 0px 2px 3px rgba(147, 147, 147, .4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4), 0px 0px 2px 3px rgba(147, 147, 147, .4);
}
.css3-button_green-g:active,
.css3-button_green-g.active{/*.active class is just for demo, you can delete it.*/
    background: #4eab82; /* Old browsers */
    background: -webkit-linear-gradient(top,  #2f8e64 0%,#64b894 100%);  /*Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #2f8e64 0%,#64b894 100%); /* W3C */
    border-color:#4eab82;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.css3-button_blue-g{
    background: #4ba2c6; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.3), rgba(255, 255, 255, 0.0) 40%), -webkit-linear-gradient(top,  #4ba2c6 0%,#328cb0 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 40%), linear-gradient(to bottom,  #4ba2c6 0%,#328cb0 100%); /* W3C */
    border-color:#4ba2c6;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 0px 2px 3px rgba(147, 147, 147, .25);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5), 0px 0px 2px 3px rgba(147, 147, 147, .25);
}
.css3-button_blue-g:hover,
.css3-button_blue-g.hover{/*.hover class is just for demo, you can delete it.*/
    background: #4eab82; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.2), rgba(255, 255, 255, 0.0) 30%), -webkit-linear-gradient(top,  #4ba2c6 0%,#20789b 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 30%), linear-gradient(to bottom,  #4ba2c6 0%,#20789b 100%); /* W3C */
    border-color:#3a95ba;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4), 0px 0px 2px 3px rgba(147, 147, 147, .4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4), 0px 0px 2px 3px rgba(147, 147, 147, .4);
}
.css3-button_blue-g:active,
.css3-button_blue-g.active{/*.active class is just for demo, you can delete it.*/
    background: #4eab82; /* Old browsers */
    background: -webkit-linear-gradient(top,  #20789b 0%,#4ba2c6 100%);  /*Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #20789b 0%,#4ba2c6 100%); /* W3C */
    border-color:#3a95ba;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.css3-button_disabled-g,
.css3-button_disabled-g:hover,
.css3-button_disabled-g:active{
    padding:10px 10px;
    border-color:#dedede;
    background: #dedede; /* Old browsers */
    background:  -webkit-radial-gradient(100% 0%, circle contain, rgba(255, 255, 202, 0.3), rgba(255, 255, 255, 0.0) 40%), -webkit-linear-gradient(top,  #dedede 0%,#ccc 100%);  /*Chrome10+,Safari5.1+ */
    background: radial-gradient(circle at 100% 0%, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 40%), linear-gradient(to bottom,  #dedede 0%,#ccc 100%); /* W3C */
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
}

