html, body{
    position:relative;
    height:100%;
}

#left {
    height:100%;
    position:relative;
    border-right:1px solid gray;
    background: #373737 url("../img/bg.png") 0 0 repeat;
}

#container {

}

#typeIn {
    bottom:0;
    position:fixed;
    width:81%
}

.ircbutton {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    padding: 0 0 48px;
    /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    /* Must use another pseudo element for the gradient background because Webkit */
    /* clips the background incorrectly inside elements with a border-radius.     */
}

.heading {
    margin-top:20px;
    text-align: center;
    color:#ccc;
    font-family: "Lucida Console", Monaco, monospace;
}