
<div class="portlet">
    <div class="portlet-title line">
        <div class="caption">
            Channel:
            <div class="channelName"></div>
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="chats">

        </ul>
    </div>
</div>
</div>