    <li class="out">
        <img class="avatar" alt="" src="">
        <div class="message">
                                                <span class="arrow">
                                                </span>
        <a href="#" class="name">{{name}}</a>
                                                <span class="datetime">
                                                at 20:54 </span>
                                                <span class="body">{{msg}}</span>
        </div>
    </li>